name: Build uBlock Subscription
on:
    pull_request:
        branches: 
            - master
    push:
        branches:
            - master
jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - name: Set variables
              run:
                  echo "::set-env name=DATE::$(date +%Y%m%d%H%M)"
              shell: bash

            - name: Checkout the "release" branch
              uses: actions/checkout@v2
              with:
                  ref: release

            - name: Get upstream file and add Adblock Plus filter syntax
              run: |
                mkdir ./publish && touch ./publish/rules.txt
                curl -sSL https://raw.githubusercontent.com/Anaraky/trash_sites/master/perman-ban | sed '{s/$/\/\*/;s/^/\*\:\/\/\*\./}' > ./publish/rules.txt
                sed -i '1i\
                [Adblock Plus 2.0]\
                ! Title: Block Trash Sites From Google Search Results\
                ! Upstream: https://github.com/ron159/trash_sites | ron159\
                ! Expires: 7 days\
                ! Version: '"$DATE"'\
                ' ./publish/rules.txt

            - name: Git push assets to "release" branch
              run: |
                git config --global user.name "${{ github.actor }}"
                git config --global user.email "${{ github.actor }}@users.noreply.github.com"
                git clone https://github.com/${{ github.repository }}.git
                cd ./trash_sites
                git checkout release
                git rm rules.txt
                cp ../publish/rules.txt $(pwd)
                git add .
                git commit -m "${{ env.DATE }}"
                git push -f -u origin release
